#include "resource.h"

IDR_MAIN_MENU MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "Выход", IDM_FILE_EXIT
    END
END

IDR_TRAY_MENU MENU
BEGIN
    POPUP "Контекст"
    BEGIN
        MENUITEM "Открыть", IDM_TRAY_OPEN
        MENUITEM SEPARATOR
        MENUITEM "Выход", IDM_TRAY_EXIT
    END
END
